---
# Secrets used for provisioning certificates via the DNS-01 challenge.

# Domain to get a wildcard certificate for. Don't include the *. at the start.
dns_domain: "example.com"

# Email used for Let's Encrypt renewal notices
cloudflare_email: zorlin@gmail.com

# Tokens used for the DNS-01 challenge.
CF_ZONE_API_TOKEN: example
CF_DNS_API_TOKEN: another-example

# Automatically accept the Let's Encrypt terms of service
# Read the ToS and change this to true.
LE_ACCEPT_TOS: false