---
# Secrets used for provisioning certificates via the DNS-01 challenge.

# Email used for Let's Encrypt renewal notices
CLOUDFLARE_EMAIL: zorlin@gmail.com

# Tokens used for the DNS-01 challenge.
CF_ZONE_API_TOKEN: example
CF_DNS_API_TOKEN: another-example

# Automatically accept the Let's Encrypt terms of service
# Read the ToS and change this to true.
LE_ACCEPT_TOS: false