---
# Secrets used for provisioning certificates via the DNS-01 challenge.
# List of domains to procure wildcard certificates for
dns_domains:
- raptorswithhats.com

# Password to use for your PFX bundles
pfx_password: "change-me-or-experience-sadness"

# Tokens used for the DNS-01 challenge.
cloudflare_email: wings+example@protocol.ai
CF_ZONE_API_TOKEN: example
CF_DNS_API_TOKEN: another-example

# Set this to true.
LE_ACCEPT_TOS: false

# Materials repo in Git that the TLS Bastion will use to store key material
# Replace with your own, this is mandatory.
#private_key_material_repo: "git@github.com:Zorlin/wildcard-tls-materials.git"
